export(add.data,
	alpha.risk,
	c4,
	cchart.p,
	cchart.R,
	cchart.S,
	cchart.T2.1,
	cchart.T2.2,
	cchart.u,
	cchart.Xbar1,
	cchart.Xbar2,
	cchart.Xbar_R,
	d2,
	d3,
	data.1,
	data.2,
	remove.data,
	stats,
	T2.1,
	T2.2,
	table.const,
	table.qtukey)

import(qcc)
import(micEcon)
import(MASS)